.card2-img1{
    position: absolute;
    width: 30px;
}
.card2-img2{
    position: absolute;
    border-radius: 200px;
    left: 9px;
    top: 13px;
    width: 40px;
}

.card2-img{
    position: relative;
    width: 20px;
}
.card2-header, .apr, .earned{
    display: flex;
    justify-content:space-between;
}

.header-para{
    display: flex;
    justify-content: space-around;
}
.body-btn button{
    width: 100%;
    border-radius: 16px;
    background-color: rgb(31, 199, 212);
    color: white;
    box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
    height: 48px;
    margin-bottom: 50px;
}
.deatail{
    display: flex;
    justify-content: center;
}
.card2-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
   
}
.card2{
    width: 30%;
    
    border: 0.1px solid;
    border-color: rgb(53, 53, 163);
    border-radius: 20px;
    margin-bottom: 50px;

}
.card2-body-container{
    
    margin-top: 20px;

}

.header-content h2{
    font-size: 20px;
    font-weight: 700;
    line-height: 1.1;
    color: rgb(40, 13, 95);
    
    
    margin-bottom: 4px;
}
.header-para p{
    font-size: 14px
}

.deatail p{
    cursor: pointer;
}
.deatail img{
    width: 10px;
}
@media (max-width:991px) {
    .card2{
        width: 45%;
    }
    
}

@media (max-width:768px) {
    .card2{
        width: 100%;
    }
}